@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #2A3FA5;
  --color-secondary: #7B33E0;
  --color-text-primary: white;
  --color-text-secondary: black;
  --color-body: #F5EBDD;
  --font-default: "Lexend", sans-serif;
  --animate-fade-in: fadeIn 0.3s ease-in-out;

}
* {
  box-sizing: border-box;
  font-family: var(--font-default);
}
.te{
  color:#F5EBDD;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes Test {
  0% {
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateX(-20deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
