@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #7b33e0;
  --color-text-primary: black;
  --color-text-secondary: white;
  --color-body: #f5ebdd;
  --font-default: "Lexend", sans-serif;
  --animate-fade-in: FadeIn 1s ease-in-out forwards;
}
* {
  box-sizing: border-box;
  font-family: var(--font-default);
}
@keyframes FadeIn {
  0% {
    opacity: 0%;
    transform: translateX(-10%);
  }
  100% {
    opacity: 100%;
    transform: translateX(0%);
  }
}
